body {
    font-family: 'Tilt Neon', cursive;
    font-size: 24px;
    text-align: center;
    background-color: #333;
    background-image: url('https://i.imgur.com/0zLWps1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    cursor: url("../img/cursor-lata.png"),default;

}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  body {
    background-image: url('https://e0.pxfuel.com/wallpapers/896/148/desktop-wallpaper-messi-argentina-seleccion.jpg');
  }
}

/* Estilos para dispositivos de escritorio */
@media (min-width: 768px) {
  body {
    background-image: url('https://i.imgur.com/0zLWps1.jpeg');
  }
}

.dangerous-time {
  color: red;
  font-weight: bold;
}

h1 {
    font-size: 72px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 15px #ff00de, 0 0 20px #ff00de, 0 0 25px #ff00de, 0 0 30px #ff00de, 0 0 35px #ff00de;
}
h2{
    font-size: 140px;
    color: whitesmoke;
}
h2:hover {
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes mover {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0);
  }
}