body {
    font-family: 'Tilt Neon', cursive;
    font-size: 24px;
    text-align: center;
    background-color: #333;
    background-image: url('https://i.imgur.com/0zLWps1.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    cursor: url("../img/cursor-lased.png"),default;
    overflow: hidden;

}

/* Estilos para dispositivos de escritorio */
@media (min-width: 768px) {
  body {
    background-image: url('img/bg3.jpg');
  }
}

.dangerous-time {
  color: red;
  font-weight: bold;
}

.texto-neon {
    font-size: 80px;
    color: #fff;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 30px #fff, 0 0 15px #00b7ff, 0 0 20px #0059ff, 0 0 25px #0099ff, 0 0 30px #0400ff, 0 0 35px #0044ff;
}
h2{
    font-size: 140px;
    color: whitesmoke;
}
.texto-neon:hover {
    animation-name: mover;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes mover {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(20px);
  }
  100% {
      transform: translateY(0);
  }
}
.i4ewOd-pzNkMb-haAclf {
  display: none;
}

.elmapita{
  display: flex;
  flex-direction: column;
  position: relative;

}


.elclima{
  display: flex;
  flex-direction: column;
  position: relative;
}

.lamusiquita{
  display: flex;
  flex-direction: column;
  position: relative;
}

.main-content{
  display: flex;
  flex-direction: row;
}

.navbar{
  box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.81);
  -webkit-box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.81);
  -moz-box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.81);
}

.sidebar{
  background-color: #2b3035;
  width: 350px;
  height: 510px;
  overflow: hidden;
  padding: 16px;
  margin: 20px;
  border-radius: 1em;
  box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.81);
  -webkit-box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.81);
  -moz-box-shadow: 7px 10px 16px -12px rgba(0,0,0,0.81);
}
.right-content{
  display: flex;
    /* justify-content: flex-end; */
    flex-direction: row;
    align-items: flex-end;
}

/* Estilos para dispositivos móviles */
@media (max-width: 767px) {
  body {
    background-image: url('https://e0.pxfuel.com/wallpapers/896/148/desktop-wallpaper-messi-argentina-seleccion.jpg');
  }
  
  .main-content{
    flex-direction: column-reverse!important;
  }
  .texto-neon{
    text-align: center;
    font-size: 48px!important;
  }
  .sidebar{
    overflow-y: auto;
    height: 60vh;
  }
}
